%h5.center Sign In

- if @error
  .card.error{ role: "alert" }
    = @error

%form{ name: "login", id: "login-form", action: "/login", method: "post", autocomplete: "off" }
  %fieldset
    %label{ for: "username" } Username:
    %input#okta-signin-username{ type: "text", name: "username", value: params[:username], placeholder: "Username" }

    %label{ for: "password" } Password:
    %input#okta-signin-password{ type: "password", name: "password", placeholder: "Password" }

    %input#okta-signin-submit.button{ type: "submit", value: "Sign In" }
