
%form{ name: "login", id: "login-form", action: "/login", method: "post" }
  %fieldset
    %legend.center Sign In

    - if @error
      .card.error{ role: "alert" }
        = @error

    %label{ for: "okta-signin-username" } Username
    %input#okta-signin-username{ type: "text", name: "username", value: params[:username] || "Test.User" }

    %label{ for: "okta-signin-password" } Password
    %input#okta-signin-password{ type: "password", name: "password" }

    - begin
      != haml :"../form/custom_form"
    - rescue Errno::ENOENT # rubocop:disable HandleExceptions

    %input{ autofocus: true, type: "submit", value: "Sign In" }
